main {
    margin: auto;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hidden-on-desktop {
   text-align: center;
    border: 3px solid lightgrey;
    padding: 1.5em;
    background: #d7fdff;
}
.hidden-on-desktop a {
    color: black;
    text-decoration: none;
}
h1 {
    display: flex;
    justify-content: center;
}
.nav-links {
    display: flex;
    flex-direction: column;
}
ul{
    padding-left: 0;
}
li{
    list-style-type: none;
    margin: .5em 0;
}

li a {
    display: inline-block;
    background: lightgray;
    padding: 1em;
    width: 94%;
    text-align: center;
}
.header-img img{
    max-width: 100%;
}

.main {
    display: flex;
    flex-wrap: wrap;
}
.main h2 {
    margin-bottom: 0;
}
.main p {
    margin: .5em
}
.sub-section {
    font-style: italic;
}
footer {
    display: flex;
    margin-top: 0;
}
@media screen and (min-width: 900px) {
    .hidden-on-desktop {
        display: none;
    }
    h1 {
        justify-content: flex-start;
        position: absolute;
        top: 10px;
        left: 10px;
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    .nav-links {
        flex-direction: row;
        align-items: flex-start;
    }
    li a {
        width: 100%;
        background-color: white;
    }
    .header-img img {
        width: 100%;

    }
    .header-img {
        margin: 0 1em;
    }
}
