main {
    margin: auto;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
}
.hidden-on-desktop {
   text-align: center;
    border: 3px solid lightgrey;
    padding: 1.5em;
    background: #d7fdff;
}
.hidden-on-desktop a {
    color: black;
    text-decoration: none;
}
h1 {
    display: flex;
    justify-content: center;
}
.nav-links {
    display: flex;
    flex-direction: column;
}
ul{
    padding-left: 0;
}
li{
    list-style-type: none;
    margin: .5em 0;
}

li a {
    display: inline-block;
    background: lightgray;
    padding: 1em;
    width: 100%;
    text-align: center;
}
/*.header-img{*/
/*}*/
.main {
    display: flex;
    flex-wrap: wrap;
}